:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  background-color: #1a1a1a;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px 0px;
  box-shadow: 0px 5px 30px black;
  display: flex;
}

nav > img {
  margin: 10px 50px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  padding: 0px 0px;
  background-color: #f1f1f1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

main {
  padding: 0px 0px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.g-2{
  padding-bottom: 5px;
  margin: auto;
  width: 66%;
  padding: 10px;
}


Label > p {
  font-size: 1.2em;
  font-weight: 500;
  text-align: right;
  padding: 0px 0px;
  margin-top: 5px;
}

.offer {
  width: 750px;
  white-space: pre-line;
  text-align: left;
  padding-bottom: 10px;
  margin: auto;
}

.alert{
  width: 750px;
  text-align: center;
  padding-bottom: 10px;
  margin: auto;
}

.copy_button {
  margin-bottom: 10px;
}

.n_guests_picker{
  width: 75px;
}