:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100%;
  padding: 0px 0px;
  background-color: #f1f1f1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  height: 100%;
}

main {
  padding: 0px 0px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.add-key-form {
  margin-bottom: 10px;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.mb-3 {
  margin: auto;
  width: 15%;
}

.keys-button {
  margin: 0px 0px;
}

.offer-button{
  margin: 0px auto;
  height: 58px;
}

.offer-button > p {
  margin: auto;
}

.col-empty {
  width: 10%;
}

.select-room-type{
  padding: 16px;
  margin-bottom: 10px;
}

img{
  margin: 0% 5%;
}

.nav-link{
  color: #ffffff;
  font-size: 1.1em;
}

nav {
  height: 10%;
}
