:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keys-select {
  max-width: 100% !important;
}

a {
  font-weight: 500;
  color: #6ea8fe;
  text-decoration: inherit;
}
a:hover {
  color: #8bb9fe;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  opacity: 0.8;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100%;
  padding: 0px 0px;
  background-color: #f1f1f1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  height: 100%;
}

main {
  padding: 0px 0px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.add-key-form {
  margin-bottom: 10px;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.key-info {
  margin: auto auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.key-info-sub {
  color:#888686;
}

.chip {
  cursor: pointer;
  margin-bottom: 5px;
  color: #6ea8fe;
}

.room {

}

.room-dead {
  background-color: #020202;
}

.room-floor-1 {
  background-color: #5438A7;
  color: #ffffff;
}

.room-floor-2 {
  background-color: #D17007;
  color: #ffffff;
}

.room-floor-3 {
  background-color: #B4AC01;
}

.room-floor-4 {
  background-color: #38B9DB;
}

.room-floor-5 {
  background-color: #DC5CBD;
  color: #ffffff;
}

.keys-button {
  margin: 0px 0px;
}

.offer-button{
  margin: 0px auto;
  height: 58px;
}

.offer-button > p {
  margin: auto;
}

.col-empty {
  width: 10%;
}

.select-room-type{
  padding: 16px;
  margin-bottom: 10px;
}

img{
  margin: 0% 5%;
}

.nav-link{
  color: #ffffff;
  font-size: 1.1em;
}

nav {
  height: 10%;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.surface-0{
  width: 60%;
  margin: auto;
  border-radius: 1%;
  margin-top: 2%;
}
